# Dependencies
node_modules/

# Custom folders
uploads/
src/generated/

# Environment variables
.env
.env.*
!.env.example

# Prisma
prisma/migrations/dev/
*.db
*.db-journal

# Build output
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Runtime
pids/
*.pid

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/ite.config.ts.timestamp-*
